.mysite_skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 5rem;
    flex-direction: column;
}

.skills {
    position: relative;
    color: rgba(255, 255, 255, 0.904);
    font-size: 50px;
    font-family: var(--font-1);
    padding-bottom: 4rem;
}

.skills_row1 {
    display: flex;
    position: relative;
    flex-direction: row;
}

.python {
    position: relative;
    left: -3rem;
    align-items: center;
    justify-content: center;
    max-width: 23rem;
    padding-left: 2rem;
    align-items: center;
}

.py_logo {
    position: relative;
    left: 6.45rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
}

.py_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    text-align: center;
    font-size: 35px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.clang{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 21rem;
    align-items: center;
}

.c_logo {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
    position: relative;
}

.c_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    font-size: 42px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.65rem;
}

.c_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.java {
    position: relative;
    left: 2.8rem;
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    padding-right: 2rem;
    align-items: center;
}

.java_logo {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
    position: relative;
}

.java_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    font-size: 38px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.java_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.skills_row2 {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
}

.react {
    position: relative;
    left: -1.5rem;
    bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    align-items: center;
}

.react_logo {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
    position: relative;
}

.react_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    font-size: 34px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.react_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.javascript {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    align-items: center;
}

.js_logo {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
    position: relative;
}

.js_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    font-size: 34px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.js_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.api {
    position: relative;
    left: 2.8rem;
    top: 0.8rem;
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    align-items: center;
    padding-right: 4rem;
}

.api_logo {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 100px;
    padding: 1.5rem;
    position: relative;
}

.api_name {
    position: relative;
    color:rgba(255, 255, 255, 0.904);
    font-family: var(--font-1);
    font-size: 31px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.api_blurb {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

@media screen and (max-width: 1050px){
    .py_logo {
        position: relative;
        left: 2.5rem;
    }

    .javascript {
        align-self: center;
        position: relative;
        left: 3rem;
        max-width: 20rem;
    }

    .api {
        padding-right: 1rem;
        padding-left: 1rem;
        position: relative;
        top: 0.5rem;
        max-width: 20rem;
    }

    .react {
        position: relative;
        left: 1rem;
    }
}