.mysite_about-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mysite_about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    flex-direction: row;
    padding-bottom: 1rem;
}

.mysite_flic {
    position: relative;

}

.mysite_about-info {
    position: relative;
    left: 2rem;
    padding-left: 2rem;

}

.name {
    font-family: var(--font-1);
    font-size: 35px;
    padding-bottom: 8px;
}

.details {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 28px;
}

.introduction,
.introduction2 {
    font-family: var(--font-1);
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: 300;
    line-height: 25px;
}

.interests {
    font-family: var(--font-1);
    font-size: 18px;
    padding-top: 20px;
    font-weight: 300;
    line-height: 25px;
}

.mysite_about-socials {
    position: relative;
    padding: 1rem 4rem;
}

.linkedin,
.twitter,
.instagram {
    position: relative;
    padding-top: 3rem;
    padding: 1.5rem;
}

@media screen and (max-width: 900px) {
    .mysite_about {
        padding-right: 1rem;
    }
    .mysite_flic {
        position: relative;
        right: 5rem;
    }

    .mysite_about-info {
        position: relative;
        padding: 0;
        left: -3rem;
    }

}